In [23]:
import pandas
data = pandas.read_csv('1236627.csv')
temps = data[data['NAME'].str.contains('REXBURG')][['DATE', 'TMAX', 'TMIN']]
print(temps)

             DATE  TMAX  TMIN
0      1998-02-12  32.0  27.0
1      1998-02-13  35.0  28.0
2      1998-02-14  37.0  21.0
3      1998-02-15  38.0  32.0
4      1998-02-16  35.0  24.0
5      1998-02-17  35.0  19.0
6      1998-02-18  33.0  20.0
7      1998-02-19  35.0  19.0
8      1998-02-20  35.0  14.0
9      1998-02-21  40.0  22.0
10     1998-02-22  35.0  21.0
11     1998-02-23  33.0  20.0
12     1998-02-24  32.0  23.0
13     1998-02-25  31.0   8.0
14     1998-02-26  28.0   8.0
15     1998-02-27  26.0   2.0
16     1998-02-28  23.0  -3.0
17     1998-03-01  30.0  16.0
18     1998-03-02  36.0  20.0
19     1998-03-03  34.0  24.0
20     1998-03-04  30.0  14.0
21     1998-03-05  26.0  12.0
22     1998-03-06  25.0  18.0
23     1998-03-07  23.0   0.0
24     1998-03-08  23.0  -3.0
25     1998-03-09  28.0   8.0
26     1998-03-10  36.0  22.0
27     1998-03-11  43.0  24.0
28     1998-03-12  41.0  17.0
29     1998-03-13  43.0  17.0
...           ...   ...   ...
36579  1977-05-02   NaN   NaN
36580  1977-05-03   NaN   NaN
36581  1977-05-04   NaN   NaN
36582  1977-05-05   NaN   NaN
36583  1977-05-06   NaN   NaN
36584  1977-05-07   NaN   NaN
36585  1977-05-08   NaN   NaN
36586  1977-05-09   NaN   NaN
36587  1977-05-10   NaN   NaN
36588  1977-05-11   NaN   NaN
36589  1977-05-12   NaN   NaN
36590  1977-05-13   NaN   NaN
36591  1977-05-14   NaN   NaN
36592  1977-05-15   NaN   NaN
36593  1977-05-16   NaN   NaN
36594  1977-05-17   NaN   NaN
36595  1977-05-18   NaN   NaN
36596  1977-05-19   NaN   NaN
36597  1977-05-20   NaN   NaN
36598  1977-05-21   NaN   NaN
36599  1977-05-22   NaN   NaN
36600  1977-05-23   NaN   NaN
36601  1977-05-24   NaN   NaN
36602  1977-05-25   NaN   NaN
36603  1977-05-26   NaN   NaN
36604  1977-05-27   NaN   NaN
36605  1977-05-28   NaN   NaN
36606  1977-05-29   NaN   NaN
36607  1977-05-30   NaN   NaN
36608  1977-05-31   NaN   NaN

[28124 rows x 3 columns]